.text-center{
    text-align: center;
}

.site-section{
    h2{
        margin-top: 5vh!important;
        margin-bottom: 5vh!important;
    }
}

.global{
    margin-top: -2vh;
}

.symptoms{
    h4{
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    p{
        font-size: 20px;
        color: black;
    }

    img{
        margin-right: 5px;
    }
}
